<div class="container position-absolute">
        <div class="content text-light ps-5">
            <h1 class="col-sm-6 col-8">Hi, I'm Malik Umair 👋 A Passionate Front-End Developer.</h1>
            <p class="col-sm-8 col-8">
                I specialize in creating responsive and visually appealing websites that
                bring ideas to life. Let's collaborate to build something amazing together.
            </p>

            <div class="buttons d-flex flex-column flex-sm-row gap-3">
                <button class="button1 ps-0">
                    <svg viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" stroke="white" height="16"
                        width="16" xmlns="bi bi-file-person">
                    </svg>
                    <span>Get Resume</span>
                </button>

                <button class="button2">
                    <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                            <svg class="button" viewBox="0 0 24 24" width="24"
                                height="24" background="transparent">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path fill="currentColor"
                                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <span>Hire Me</span>
                </button>

            </div>
        </div>
    </div>
